{{define "settings/panel/subscription/general"}}
<a-collapse>
    <a-collapse-panel key="1" header='{{ i18n "pages.xray.generalConfigs"}}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subEnable"}}</template>
            <template #description>{{ i18n
                "pages.settings.subEnableDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.subEnable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>JSON Subscription</template>
            <template #description>{{ i18n
                "pages.settings.subJsonEnable"}}</template>
            <template #control>
                <a-switch v-model="allSetting.subJsonEnable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>Clash / Mihomo Subscription</template>
            <template #description>Enable direct Clash and Mihomo YAML
                subscriptions.</template>
            <template #control>
                <a-switch v-model="allSetting.subClashEnable"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subListen"}}</template>
            <template #description>{{ i18n
                "pages.settings.subListenDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subListen"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subDomain"}}</template>
            <template #description>{{ i18n
                "pages.settings.subDomainDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subDomain"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subPort"}}</template>
            <template #description>{{ i18n
                "pages.settings.subPortDesc"}}</template>
            <template #control>
                <a-input-number v-model="allSetting.subPort" :min="1"
                    :min="65535"
                    :style="{ width: '100%' }"></a-input-number>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subPath"}}</template>
            <template #description>{{ i18n
                "pages.settings.subPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subPath"
                    @input="allSetting.subPath = ((typeof $event === 'string' ? $event : ($event && $event.target ? $event.target.value : '')) || '').replace(/[:*]/g, '')"
                    @blur="allSetting.subPath = (p => { p = p || '/'; if (!p.startsWith('/')) p='/' + p; if (!p.endsWith('/')) p += '/'; return p.replace(/\/+/g,'/'); })(allSetting.subPath)"
                    placeholder="/sub/"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subURI"}}</template>
            <template #description>{{ i18n
                "pages.settings.subURIDesc"}}</template>
            <template #control>
                <a-input type="text"
                    placeholder="(http|https)://domain[:port]/path/"
                    v-model="allSetting.subURI"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="2" header='{{ i18n "pages.settings.information" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subEncrypt"}}</template>
            <template #description>{{ i18n
                "pages.settings.subEncryptDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.subEncrypt"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subShowInfo"}}</template>
            <template #description>{{ i18n
                "pages.settings.subShowInfoDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.subShowInfo"></a-switch>
            </template>
        </a-setting-list-item>
        <a-divider>{{ i18n "pages.xray.basicTemplate"}}</a-divider>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subTitle"}}</template>
            <template #description>{{ i18n
                "pages.settings.subTitleDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subTitle"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subShowSubscriptionUrl" }}</template>
            <template #description>{{ i18n "pages.settings.subShowSubscriptionUrlDesc" }}</template>
            <template #control>
                <div style="display:flex;align-items:center;gap:10px;width:100%">
                    <a-switch v-model="allSetting.subShowSubscriptionUrl"></a-switch>
                    <a-input v-if="allSetting.subShowSubscriptionUrl" type="text" :maxLength="80"
                        v-model="allSetting.subSubscriptionButtonLabel"
                        placeholder='{{ i18n "pages.settings.subSubscriptionButtonDefault" }}'
                        style="flex:1;min-width:0"></a-input>
                </div>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subAnnounce"}}</template>
            <template #description>{{ i18n
                "pages.settings.subAnnounceDesc"}}</template>
            <template #control>
                <a-textarea v-model="allSetting.subAnnounce"></a-textarea>
            </template>
        </a-setting-list-item>
        <a-divider>{{ i18n "pages.xray.advancedTemplate"}} (Happ)</a-divider>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n
                "pages.settings.subEnableRouting"}}</template>
            <template #description>{{ i18n
                "pages.settings.subEnableRoutingDesc"}}</template>
            <template #control>
                <a-switch v-model="allSetting.subEnableRouting"></a-switch>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n
                "pages.settings.subRoutingRules"}}</template>
            <template #description>{{ i18n
                "pages.settings.subRoutingRulesDesc"}}</template>
            <template #control>
                <a-textarea v-model="allSetting.subRoutingRules"
                    placeholder="happ://routing/add/..."></a-textarea>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="3" header='{{ i18n "pages.settings.certs" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subCertPath"}}</template>
            <template #description>{{ i18n
                "pages.settings.subCertPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subCertFile"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subKeyPath"}}</template>
            <template #description>{{ i18n
                "pages.settings.subKeyPathDesc"}}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subKeyFile"></a-input>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="4" header='{{ i18n "pages.settings.intervals"}}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subUpdates"}}</template>
            <template #description>{{ i18n
                "pages.settings.subUpdatesDesc"}}</template>
            <template #control>
                <a-input-number :min="1" v-model="allSetting.subUpdates"
                    :style="{ width: '100%' }"></a-input-number>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="5" header='{{ i18n "pages.settings.subSiteData" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subPageTitle" }}</template>
            <template #control>
                <a-input type="text" v-model="allSetting.subPageTitle"
                    placeholder='{{ i18n "subscription.title" }}'></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subFaviconUrl" }}</template>
            <template #description>{{ i18n "pages.settings.subFaviconDesc" }}</template>
            <template #control>
                <div :style="{ display: 'flex', alignItems: 'center', gap: '8px', width: '100%' }">
                    <a-input type="text" :value="subFaviconUrlInput"
                        :placeholder='isUploadedSubFavicon() ? "{{ i18n "pages.settings.panelFaviconUploaded" }}" : ""'
                        @input="setSubFaviconUrl">
                        <a-icon v-if="allSetting.subFaviconUrl" slot="suffix" type="close-circle"
                            title='{{ i18n "pages.settings.panelFaviconClear" }}' @click.stop="clearSubFavicon"></a-icon>
                    </a-input>
                    <div :style="{ width: '40px', height: '40px', flex: '0 0 40px', display: 'flex', alignItems: 'center', justifyContent: 'center', border: '1px solid #d9d9d9', borderRadius: '4px', overflow: 'hidden' }">
                        <img v-if="allSetting.subFaviconUrl && !subFaviconPreviewFailed"
                            :src="allSetting.subFaviconUrl" @error="subFaviconPreviewFailed = true"
                            :style="{ maxWidth: '100%', maxHeight: '100%', objectFit: 'contain' }">
                        <a-icon v-else type="picture" :style="{ color: '#bfbfbf', fontSize: '18px' }"></a-icon>
                    </div>
                    <a-button @click="$refs.subFaviconFile.click()">
                        <a-icon type="upload"></a-icon>{{ i18n "pages.settings.panelFaviconUpload" }}
                    </a-button>
                    <input ref="subFaviconFile" type="file" accept="image/png,image/jpeg,image/gif,image/webp,image/x-icon,image/vnd.microsoft.icon"
                        style="display: none" @change="uploadSubFavicon">
                </div>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.subSiteButtons" }}</template>
            <template #description>{{ i18n "pages.settings.subSiteButtonsDesc" }}</template>
            <template #control>
                <div style="display:flex;align-items:center;gap:10px;width:100%">
                    <a-switch v-model="allSetting.subSiteButtonsEnable" @change="toggleSubSiteButtons"></a-switch>
                    <a-button title='{{ i18n "pages.settings.subSiteButtonsSettings" }}'
                        @click="subSiteButtonsSettingsVisible = true">
                        <a-icon type="setting"></a-icon>
                    </a-button>
                </div>
            </template>
        </a-setting-list-item>
        <div v-if="allSetting.subSiteButtonsEnable" style="width:100%;">
            <div v-for="(button, index) in siteUrlButtons" :key="button.id"
                style="display:grid;grid-template-columns:minmax(0,1fr) minmax(0,2fr) 36px 36px 36px;gap:8px;width:100%;margin-top:8px">
                <a-input type="text" v-model="button.label" :maxLength="80"
                    placeholder='{{ i18n "pages.settings.subSiteButtonLabel" }}'
                    @input="syncSubSiteButtons"></a-input>
                <a-input :type="button.masked ? 'password' : 'url'" v-model="button.url" :maxLength="2048"
                    placeholder="https://example.com" @input="syncSubSiteButtons"></a-input>
                <a-button class="sub-site-icon-button" :title="subSiteButtonMaskTitle(button)"
                    :aria-label="subSiteButtonMaskTitle(button)" @click="toggleSubSiteButtonMask(button)">
                    <a-icon :type="button.masked ? 'eye-invisible' : 'eye'"></a-icon>
                </a-button>
                <a-button v-if="siteUrlButtons.length > 1" class="sub-site-icon-button" type="danger"
                    title='{{ i18n "pages.settings.subSiteButtonDelete" }}'
                    @click="removeSubSiteButton(index)"><a-icon type="delete"></a-icon></a-button>
                <span v-else></span>
                <a-button type="primary" class="sub-site-icon-button sub-site-button-add"
                    style="background:#2e9d55;border-color:#2e9d55;color:#fff"
                    title='{{ i18n "pages.settings.subSiteButtonAdd" }}'
                    @click="addSubSiteButton"><a-icon type="plus"></a-icon></a-button>
            </div>
        </div>
        <a-modal v-model="subSiteButtonsSettingsVisible"
            title='{{ i18n "pages.settings.subSiteButtonsSettings" }}'
            ok-text='{{ i18n "save" }}' cancel-text='{{ i18n "cancel" }}'
            :class="themeSwitcher.currentTheme" :width="520"
            @ok="subSiteButtonsSettingsVisible = false"
            @cancel="subSiteButtonsSettingsVisible = false">
            <div>{{ i18n "pages.settings.subSiteButtonsPerRow" }}</div>
            <a-input-number v-model="allSetting.subSiteButtonsPerRow" :min="1" :max="6"
                style="width:100%;margin-top:8px"></a-input-number>
            <div style="margin-top:18px">{{ i18n "pages.settings.subSiteButtonsTextAlign" }}</div>
            <a-radio-group v-model="allSetting.subSiteButtonsTextAlign" button-style="solid"
                style="display:flex;width:100%;margin-top:8px">
                <a-radio-button value="left" title='{{ i18n "pages.settings.subSiteButtonsAlignLeft" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsAlignLeft" }}'
                    style="flex:1;text-align:center"><a-icon type="align-left"></a-icon><span style="margin-left:6px">{{ i18n "pages.settings.subSiteButtonsAlignLeft" }}</span></a-radio-button>
                <a-radio-button value="center" title='{{ i18n "pages.settings.subSiteButtonsAlignCenter" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsAlignCenter" }}'
                    style="flex:1;text-align:center"><a-icon type="align-center"></a-icon><span style="margin-left:6px">{{ i18n "pages.settings.subSiteButtonsAlignCenter" }}</span></a-radio-button>
                <a-radio-button value="right" title='{{ i18n "pages.settings.subSiteButtonsAlignRight" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsAlignRight" }}'
                    style="flex:1;text-align:center"><a-icon type="align-right"></a-icon><span style="margin-left:6px">{{ i18n "pages.settings.subSiteButtonsAlignRight" }}</span></a-radio-button>
            </a-radio-group>
            <div style="margin-top:18px">{{ i18n "pages.settings.subSiteButtonsTextStyle" }}</div>
            <a-space style="display:flex;flex-wrap:wrap;margin-top:8px">
                <a-button :type="allSetting.subSiteButtonsBold ? 'primary' : 'default'"
                    title='{{ i18n "pages.settings.subSiteButtonsTextBold" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsTextBold" }}'
                    @click="allSetting.subSiteButtonsBold = !allSetting.subSiteButtonsBold">
                    <a-icon type="bold"></a-icon></a-button>
                <a-button :type="allSetting.subSiteButtonsItalic ? 'primary' : 'default'"
                    title='{{ i18n "pages.settings.subSiteButtonsTextItalic" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsTextItalic" }}'
                    @click="allSetting.subSiteButtonsItalic = !allSetting.subSiteButtonsItalic">
                    <a-icon type="italic"></a-icon></a-button>
                <a-button :type="allSetting.subSiteButtonsUnderline ? 'primary' : 'default'"
                    title='{{ i18n "pages.settings.subSiteButtonsTextUnderline" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsTextUnderline" }}'
                    @click="allSetting.subSiteButtonsUnderline = !allSetting.subSiteButtonsUnderline">
                    <a-icon type="underline"></a-icon></a-button>
                <a-button :type="allSetting.subSiteButtonsStrike ? 'primary' : 'default'"
                    title='{{ i18n "pages.settings.subSiteButtonsTextStrike" }}'
                    aria-label='{{ i18n "pages.settings.subSiteButtonsTextStrike" }}'
                    @click="allSetting.subSiteButtonsStrike = !allSetting.subSiteButtonsStrike">
                    <a-icon type="strikethrough"></a-icon></a-button>
            </a-space>
        </a-modal>
    </a-collapse-panel>
</a-collapse>
{{end}}